*.yml
.venv/ 
venv/ 
.vscode/
environment
chromadb_vectordb
chromdb_rag_example
chroma_langchain_db/
models/
env/
.env/
logs/middleware.log
logs/streamlit_app.log
logs/grammar_helper.log
middleware/__pycache__
streamlit_app/__pycache__
bots/grammar_helper/__pycache__
bots/ask_me_anything/__pycache__
bots/compare_files/__pycache__
bots/agreement_generator/__pycache__