# Ignore YAML config files (credentials, etc.)
*.yml

# Ignore virtual environment folders
.venv/ 
venv/ 
env/

# Ignore VS Code settings
.vscode/

# Ignore environment variable files
.env/

__pycache__/
.ipynb_checkpoints/
